@import 'tailwindcss';
@theme static {
  --color-white: #fdf9ec;
  --color-secondary: #1e293b;
  --color-primary: #f6dc7d;
  --color-brown: #373737;
  --color-orange: #d74f11;
  --color-dark: #000000;
  --color-yellow: #ffc348;
  --color-green: #9cd3cf;
  --color-lightgray: #d2c4b5;
  --color-pink: #ffcbb7;
  --color-blue: #93b5fd;
  --color-darkblue: #4f5b93;
  --color-purple: #7430f9;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

#services ,#skills {
  background: url("../assets/svgs/background-svg.svg");
}
